doctype html
html
  head
    script(type='text/javascript').
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
    script(type='text/javascript' src="../js/script.js")
    link(rel="stylesheet" type="text/css" href="../css/style.css")
    link(rel="stylesheet" type="text/css" href="../bootstrap.min.css")
  body#web_styles
    //- Navigation
    nav.navbar.page_nav
      .container-fluid
        ul.nav.navbar-nav.navbar-right
          li: a(href="#") About
          li: a(href="#") Projects
          li: a(href="#") Blog
          li: a(href="#") Resume
    //- Main Content       
    .container
      #main.col-md-12.content_border
        .col-md-12
          //- Blog Post
          .col-md-3.col-md-offset-1.blog_preview
            //- Blog Image field
            .col-md-12.blog_preview_group_image.blog_preview_common
            //- Blog Content
            .col-md-12
              .col-md-12
                h2.blog_title Hello Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          //- Blog Post
          .col-md-3.col-md-offset-1.blog_preview
            //- Blog Image field
            .col-md-12.blog_preview_group_image.blog_preview_common
            //- Blog Content
            .col-md-12
              .col-md-12
                h2.blog_title Hello Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          //- Blog Post
          .col-md-3.col-md-offset-1.blog_preview
            //- Blog Image field
            .col-md-12.blog_preview_group_image.blog_preview_common
            //- Blog Content
            .col-md-12
              .col-md-12
                h2.blog_title Hello Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          //- Blog Post
          .col-md-3.col-md-offset-1.blog_preview
            //- Blog Image field
            .col-md-12.blog_preview_group_image.blog_preview_common
            //- Blog Content
            .col-md-12
              .col-md-12
                h2.blog_title Hello Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          //- Blog Post
          .col-md-3.col-md-offset-1.blog_preview
            //- Blog Image field
            .col-md-12.blog_preview_group_image.blog_preview_common
            //- Blog Content
            .col-md-12
              .col-md-12
                h2.blog_title Hello Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

          //- Blog Post
          .col-md-3.col-md-offset-1.blog_preview
            //- Blog Image field
            .col-md-12.blog_preview_group_image.blog_preview_common
            //- Blog Content
            .col-md-12
              .col-md-12
                h2.blog_title Hello Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
