doctype html
html
  head
    script(type='text/javascript').
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
    script(type='text/javascript' src="../js/script.js")
    link(rel="stylesheet" type="text/css" href="../css/style.css")
    link(rel="stylesheet" type="text/css" href="../bootstrap.min.css")
  body#web_styles
    //- Navigation
    nav.navbar
      .container-fluid
        ul.nav.navbar-nav.navbar-right
          li: a(href="#") About
          li: a(href="#") Projects
          li: a(href="#") Blog
          li: a(href="#") Resume
    //- Main Content       
    .container
      #main.col-md-12.content_border
        .col-md-10.col-md-offset-1
          //- Blog Post
          .col-md-10.col-md-offset-1.blog_post
            //- Blog Image field
            .col-md-12.blog_post_group_image.blog_post_common
            //- Blog Content
            .col-md-12
              .col-md-12
                h2.blog_title Hello
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis fringilla orci. Vivamus consequat tortor non metus faucibus, eget rutrum diam sodales. Curabitur efficitur facilisis metus, ultricies convallis ex fermentum et. Nunc suscipit elementum nunc ac accumsan. Pellentesque porta, est vel congue commodo, dolor felis maximus massa, ac suscipit ex lorem in neque.
          .col-md-10.col-md-offset-1.blog_post
            //- Blog Image field
            .col-md-12.blog_post_group_image.blog_post_common
            //- Blog Content
            .col-md-12
              .col-md-12
                h2.blog_title Hello
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis fringilla orci. Vivamus consequat tortor non metus faucibus, eget rutrum diam sodales. Curabitur efficitur facilisis metus, ultricies convallis ex fermentum et. Nunc suscipit elementum nunc ac accumsan. Pellentesque porta, est vel congue commodo, dolor felis maximus massa, ac suscipit ex lorem in neque.